extends layout

block content
	a#testapi click me!
	script(type="text/javascript").
		$('document').ready(function(){

			$('#testapi').click(function() {

				$.get('http://localhost:3010/api', function(data) {
					
				});
			});
		});
