body {

	margin: 0;
	overflow: hidden;
	height: 100%;

}

canvas[resize] {

	width: 100%;
	height: 100%;

}

#position {

	position: absolute;
	top: 0;
	bottom: 0;
	width: 200px;
	height: 20px;
	line-height: 20px;
	color: #272822;
	font-family: Arial;
	font-size: 13px;
	text-align: center;
	background-color: #84DA2D;

}